# IBM Cloud / watsonx Configuration Template
IBM_API_KEY=your_ibm_cloud_api_key_here
WATSONX_API_KEY=your_watsonx_api_key_here
WATSONX_PROJECT_ID=b5711429-279d-45a1-a962-8db58d7bee19
WATSONX_SCORING_URL=https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/01a08b97-05f2-73bf-944b-35df972136ea/predictions?version=2021-05-01
